<form method="GET" action="/add">

<div id="appetizer" class="col-md-4">
	<h2>Appetizers</h2>
	<select name="@appetizer_order">
		<option value="none">No Appetizer Selected</option>
		<option value="chips and salsa">Chips and Salsa</option>
		<option value="bread and butter">Bread and Butter</option>
	</select>
</div>

<div id="entree" class="col-md-4">
	<h2>Entrees</h2>
	<select name="@entree_order">
		<option value="none">No Entree Selected</option>
		<option value="pizza">Pizza</option>
		<option value="super salad">Super Salad</option>
		<option value="sushi plate">Sushi Plate</option>
	</select>
</div>

<div id="dessert" class="col-md-4">
	<h2>Yummy Post Meal Food</h2>
	<select name="@dessert_order">
		<option value="none">No Dessert Selected</option>
		<option value="ice cream">Ice Cream</option>
		<option value="huge cookie">Huge Cookie</option>
		<option value="cake">Cake</option>
	</select>
</div>

<h3>Notes</h3>

<input type="textarea" name="@notes" value="" placeholder="">

<input type="submit" name="" value="Place My Order">

</form>