<!-- layour template start -->
<!doctype html>
<html>
<head>
	<title><%= @title %></title>

		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<style type="text/css" media="screen">
	ul {
		list-style: none;
	}
</style>

<body>
<!-- layour template end -->

<%= yield %>

<!-- layour template start -->


</body>
</html>
<!-- layour template end -->
